{
    "accept": "*****",
    "accept-encoding": "*****",
    "accept-language": "*****",
    "authorization": "*****",
    "content-encoding": "*****",
    "content-type": "*****",
    "cookie": "*****",
    "dnt": "*****",
    "dpr": "*****",
    "origin": "*****",
    "referer": "*****",
    "sec-ch-ua": "*****",
    "sec-ch-ua-arch": "*****",
    "sec-ch-ua-full-version": "*****",
    "sec-ch-ua-mobile": "*****",
    "sec-ch-ua-platform": "*****",
    "sec-ch-ua-platform-version": "*****",
    "sec-fetch-dest": "*****",
    "sec-fetch-mode": "*****",
    "sec-fetch-site": "*****",
    "user-agent": "*****",
    "x-client-data": "*****",
    "x-goog-authuser": "*****",
    "x-goog-pageid": "*****",
    "x-goog-visitor-id": "*****",
    "x-origin": "*****",
    "x-youtube-ad-signals": "*****",
    "x-youtube-client-name": "*****",
    "x-youtube-client-version": "*****",
    "x-youtube-device": "*****",
    "x-youtube-identity-token": "*****",
    "x-youtube-page-cl": "*****",
    "x-youtube-page-label": "*****",
    "x-youtube-time-zone": "*****",
    "x-youtube-utc-offset": "*****"
}